      * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #432E54;
        }

        .container {
            background-color: #4B4376;
            box-shadow: 0 0 5px 20px #857db4;
            border-radius: 15px;
            width: 500px;
            min-height: 400px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .title {
            position: absolute;
            top: 20px;
            font-size: 3rem;
        }

        .inputs {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 80px;
        }

        input {
            width: 80%;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            border: 1px solid grey;
            outline: none;
        }
        .buttons{
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        button {
            color: white;
            padding: 10px;
            width: auto;
            min-width: 100%;
            /* margin: 10px; */
            background-color: #AE445A;
            outline: none;
            border-radius: 8%;
            cursor: pointer;
        }

        #result {
            position: relative;
            border-radius: 10px;
            color: #E8BCB9;
            width: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 10px;
            font-size: 2rem;
        }

        .resImage {
            border-radius: 10px;
            width: 100%;
        }
        
 